.loginFormContainer {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 40%;
}

.logo {
    width: 400px;
    height: 250px;
    background-image: url('../../assets/GreenMile-logo.png');
    background-repeat: no-repeat;
    background-position: center; 
}

.loginButtonContainer {
    display: flex;
    justify-content: flex-end;
    padding: 12px;
}

.loginButton {
    display: flex;
    justify-content: space-between;
    width: 30%;
    height: 60px;
}

.progress {
    color: 'white';
}

@media (max-width: 500px) {
    .loginFormContainer {
        width: 90%;
    }
}